In [46]:
# from sqlalchemy import create_engine

# db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

# db = create_engine(db_string)

# connection_sqlalchemy = db.connect()

In [47]:
import psycopg2 as pg
import pandas as pd
connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

### Ćwiczenia:
Wykonaj zapytania za pomocą skryptów pythona:

1. Ile kategorii filmów mamy w wypożyczalni?

In [48]:
df = pd.read_sql('select DISTINCT name from category;',con=connection)
print(f"jest {len(df)} kategorii filmów")

jest 16 kategorii filmów

C:\Users\nikos\AppData\Local\Temp\ipykernel_19724\3601110909.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select DISTINCT name from category;',con=connection)

2. Wyświetl listę kategorii w kolejności alfabetycznej.

In [49]:
df = pd.read_sql('select DISTINCT name from category Order by name asc;',con=connection)
print(df["name"])

0          Action
1       Animation
2        Children
3        Classics
4          Comedy
5     Documentary
6           Drama
7          Family
8         Foreign
9           Games
10         Horror
11          Music
12            New
13         Sci-Fi
14         Sports
15         Travel
Name: name, dtype: object

C:\Users\nikos\AppData\Local\Temp\ipykernel_19724\2659529811.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select DISTINCT name from category Order by name asc;',con=connection)

3. Znajdź najstarszy i najmłodszy film do wypożyczenia.

In [50]:
df= pd.read_sql("select title from film order by release_year asc fetch first row only;",con = connection)
print(f"najstarszy film: { df['title'][0] } ")
df= pd.read_sql("select title from film order by release_year desc fetch first 1 row only;",con = connection)
print(f"najnowszy film: { df['title'][0] } ")
# df= pd.read_sql("select  DISTINCT release_year from film fetch first 10 row only",con = connection)
# print(df)

C:\Users\nikos\AppData\Local\Temp\ipykernel_19724\1794770757.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql("select title from film order by release_year asc fetch first row only;",con = connection)

najstarszy film: Chamber Italian
najnowszy film: Chamber Italian

C:\Users\nikos\AppData\Local\Temp\ipykernel_19724\1794770757.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql("select title from film order by release_year desc fetch first 1 row only;",con = connection)

4. Ile wypożyczeń odbyło się między 2005-07-01 a 2005-08-01?

In [75]:
df= pd.read_sql(f"select rental_date from rental where rental_date between '2005-07-01' and '2005-08-01'; ",con = connection)
print(f"liczba wypożyczeń : { len(df)} ")

liczba wypożyczeń : 6709

C:\Users\nikos\AppData\Local\Temp\ipykernel_19724\1946941079.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql(f"select rental_date from rental where rental_date between '2005-07-01' and '2005-08-01'; ",con = connection)

In [76]:
df= pd.read_sql(f"select rental_date from rental where rental_date between ' 2010-01-01' and '2011-02-01'; ",con = connection)
print(f"liczba wypożyczeń : { len(df)} ")

liczba wypożyczeń : 0

C:\Users\nikos\AppData\Local\Temp\ipykernel_19724\601026548.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql(f"select rental_date from rental where rental_date between ' 2010-01-01' and '2011-02-01'; ",con = connection)